@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  } 
}


.scrolling-container {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  background-color: black;
  width: 100%; /* Adjust the width as needed */
  height: 95vh; /* Adjust the height as needed */
  margin-right: 10px;
}

.scrolling-div {
  width: 100%; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  display: inline-block;
}

.div-content {
  text-align: center;
  font-size: 24px;
  padding: 20px;
  color: white;
}
